.laptop-container {
  width:80%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 0.9px solid rgba(255, 255, 255, 0.371);
  border-radius: 20px;
}
.laptop-canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  cursor: grab;
}

.laptop-canvas:active {
  cursor: grabbing;
}