:root {
  --background: transparent;
  --foreground: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: transparent;
  }
}

body {
  background: transparent;
}

html, body, #__next {
  background-color: transparent;
  margin: 0;
  padding: 0;
}